<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}{% end %}
  <title>{% block title %}{% end %}EasyMon</title>
  <link href="{{ static_url('css/uikit.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">

  <style type="text/css">
    #top-head {
      top: 0;
      background-color: #1e87f0;
      height: 60px;
    }
  </style>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }
    html,
    body {
      height: 100%;
      background-color: #f7f7f7;
    }
    #wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #f7f7f7;
    }
    #content {
      flex: 1 0 auto;
    }
    #footer {
      background-color: #242729;
      flex: 0 0 auto;
    }
  }
  </style>
  {% block css %}{% end %}
</head>

<body>

<div id="wrapper" class="uk-offcanvas-content">
  <div id="content">
    <!-- HEADER -->
    <nav id="top-head" class="uk-navbar-container uk-light" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li {% if tab_active == 'dashboard' %}class="uk-active"{% end %}><a href="/">Dashboard</a></li>
                <li {% if tab_active == 'events' %}class="uk-active"{% end %}><a href="/events">Events</a></li>
                <li {% if tab_active == 'services' %}class="uk-active"{% end %}><a href="/services">Services</a></li>
                <li {% if tab_active == 'top' %}class="uk-active"{% end %}><a href="/top">TOP</a></li>
                <li {% if tab_active == 'network' %}class="uk-active"{% end %}><a href="/network">Network</a></li>
            </ul>
        </div>

        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">{{ current_user }}</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="offset: 10; pos: top-right">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/settings">Настройки</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="/logout">Выход</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /HEADER -->

    <!-- CONTENT -->
    <div data-uk-height-viewport="expand: true" style="padding: 30px;">
      <div class="uk-container uk-container-expand">
        {% block content %}
        {% end %}
      </div> <!-- .container content -->
    </div><!-- #content -->
    <!-- /CONTENT -->
  </div>

  <!-- FOOTER -->
  <footer id="footer" class="uk-section uk-section-xsmall uk-text-center">
    <p class="uk-text-small uk-text-center">
      Built with
      <a href="https://www.tornadoweb.org" title="Tornado" target="_blank" data-uk-tooltip="" aria-expanded="false"><span style="background-image: url(static/icon/tornado.png);" class="uk-icon uk-icon-image"></span></a> &
      <a href="http://getuikit.com" title="UI Kit" target="_blank" data-uk-tooltip="" aria-expanded="false"><span data-uk-icon="uikit" class="uk-icon"></span></a> |
      <a href="https://bitbucket.org/SubGANs/easy_mon/overview" title="Source code" target="_blank" data-uk-tooltip="" aria-expanded="false"><span style="background-image: url(static/icon/bitbucket.jpg);" class="uk-icon uk-icon-image"></span></a>
    </p>
  </footer> <!-- .footer -->
  <!-- /FOOTER -->

</div><!-- .uk-offcanvas-content -->


<script src="{{ static_url("js/jquery-3.3.1.min.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/uikit.min.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/uikit-icons.min.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/Chart.bundle.min.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/jquery.cookie.js") }}" type="text/javascript"></script>

{% block js %}{% end %}

<script type="text/javascript">
  // auto close alert
  setTimeout(function(){
  if ($('#alert-auto-close').length > 0) {
    $('#alert-auto-close').remove();
  }
}, 5000);
</script>

</body>
</html>