{% extends "base.html" %}

{% block title %}Dashboard | {% end %}

{% block content %}
  <!-- TOP STAT -->
  <div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-2 uk-child-width-1-5@l uk-child-width-1-5@xl" data-uk-grid="">

    <div class="uk-first-column">
      <span class="uk-text-small">
        <span data-uk-icon="icon:clock" class="uk-margin-small-right uk-text-primary uk-icon"></span>UPTIME
      </span>
      <h1 id="uptime" class="uk-heading-primary uk-margin-remove uk-text-primary" style="font-size: 40px"></h1>
    </div>

    <div class="uk-grid-margin">
      <span class="uk-text-small">
        <span data-uk-icon="icon:bolt" class="uk-margin-small-right uk-text-primary uk-icon"></span>Load Average
      </span>
      <h1 id="load_average" class="uk-heading-primary uk-margin-remove uk-text-primary" style="font-size: 40px"></h1>
    </div>

    <div>
      <span class="uk-text-small">
        <span data-uk-icon="icon:server" class="uk-margin-small-right uk-text-primary uk-icon"></span>CPU load
      </span>
      <h1 id="cpu_load" class="uk-heading-primary uk-margin-remove uk-text-primary" style="font-size: 40px"></h1>
    </div>

    <div class="uk-grid-margin uk-first-column">
      <span class="uk-text-small">
        <span data-uk-icon="icon:database" class="uk-margin-small-right uk-text-primary uk-icon"></span>Memory usage
      </span>
      <h1 id="mem_load" class="uk-heading-primary uk-margin-remove uk-text-primary" style="font-size: 40px"></h1>
    </div>

    <div class="uk-width-auto@m">
      <span class="uk-text-small">
        <span data-uk-icon="icon:world" class="uk-margin-small-right uk-text-primary uk-icon"></span>Network connections
      </span>
      <h1 id="conn_total" class="uk-heading-primary uk-margin-remove uk-text-primary" style="font-size: 40px"></h1>
    </div>

  </div> <!-- .grid top stat data -->
  <!-- /TOP STAT -->

<hr>

<!-- GRAPH -->
<div class="uk-grid uk-grid-medium" data-uk-grid>

  <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>

  <!-- SYSTEM LOAD -->
    <div class="uk-grid-match uk-width-1-2@l">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header" style="height: 55px;">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto"><h4>System Load (%)</h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <a href="#" class="uk-icon-link" uk-icon="cog" title="Settings" data-uk-tooltip=""></a>
              <div class="uk-navbar-dropdown uk-text-left" uk-dropdown="mode: click; pos: bottom-justify">
                <ul class="uk-nav uk-dropdown-nav">
                  <li class="uk-nav-header">History age</li>
                  <li><a id="settings" data-id="system_load_hour" data-age="hour" data-name="system_load_age" href="#">Last hour</a></li>
                  <li><a id="settings" data-id="system_load_day" data-age="day" data-name="system_load_age" href="#">Last 24 hours</a></li>
                  <li><a id="settings" data-id="system_load_week" data-age="week" data-name="system_load_age" href="#">Last week</a></li>
                  <li class="uk-nav-header">Update timeout</li>
                  <li><a id="settings" data-id="system_load_60000" data-timeout="60000" data-name="system_load_timeout" href="#">1 min</a></li>
                  <li><a id="settings" data-id="system_load_300000" data-timeout="300000" data-name="system_load_timeout" href="#">5 min</a></li>
                  <li><a id="settings" data-id="system_load_1800000" data-timeout="1800000" data-name="system_load_timeout" href="#">30 min</a></li>
                </ul>
              </div>
              <a href="#" class="uk-icon-link" uk-icon="refresh" title="Refresh" data-uk-tooltip="" onclick="systemLoad(update=0); return false"></a>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas id="chart_SystemLoad" class="chartjs-render-monitor" style="display: block; width: 800px; height: 300px;"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- SYSTEM INFO -->
    <div class="uk-grid-match uk-width-1-2@l uk-text-center uk-first-column">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header"  style="height: 55px;">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto"><h4>System Info</h4></div>
          </div>
        </div>
        <div class="uk-card-body uk-text-left" style="display: block; white-space: normal;">
          <p><b>Hostname:</b> {{ hostname }}</p>
          <p><b>Kernel:</b> {{ kernel }} {{ kernel_release }} {{ kernel_version }}</p>
          <p><b>Architecture:</b> {{ arch }}</p>
          <p><b>Processor:</b> {{ cpu_brand }}</p>
          <p><b>RAM:</b> {{ mem_total }}</p>
          <p><b>SWAP:</b> {{ swap_total }}</p>
        </div>
      </div>
    </div>

  </div> <!-- .grid first line graph -->

  <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>

    <!-- MEMORY USAGE -->
    <div class="uk-grid-match uk-width-1-2@l uk-first-column">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header" style="height: 55px;">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto"><h4>Memory Usage (GB)</h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <a href="#" class="uk-icon-link" uk-icon="cog" title="Settings" data-uk-tooltip=""></a>
              <div class="uk-navbar-dropdown uk-text-left" uk-dropdown="mode: click; pos: bottom-justify">
                <ul class="uk-nav uk-dropdown-nav">
                  <li class="uk-nav-header">History age</li>
                  <li><a id="settings" data-id="memory_usage_hour" data-age="hour" data-name="memory_usage_age" href="#">Last hour</a></li>
                  <li><a id="settings" data-id="memory_usage_day" data-age="day" data-name="memory_usage_age" href="#">Last 24 hours</a></li>
                  <li><a id="settings" data-id="memory_usage_week" data-age="week" data-name="memory_usage_age" href="#">Last week</a></li>
                  <li class="uk-nav-header">Update timeout</li>
                  <li><a id="settings" data-id="memory_usage_60000" data-timeout="60000" data-name="memory_usage_timeout" href="#">1 min</a></li>
                  <li><a id="settings" data-id="memory_usage_300000" data-timeout="300000" data-name="memory_usage_timeout" href="#">5 min</a></li>
                  <li><a id="settings" data-id="memory_usage_1800000" data-timeout="1800000" data-name="memory_usage_timeout" href="#">30 min</a></li>
                </ul>
              </div>
              <a href="#" class="uk-icon-link" uk-icon="refresh" title="Refresh" data-uk-tooltip="" onclick="memoryUsage(update=0); return false"></a>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas id="chart_MemoryUsage" class="chartjs-render-monitor" style="display: block; width: 800px; height: 300px;"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- MEMORY -->
    <div class="uk-width-1-2@s uk-width-1-4@l uk-width-1-4@xl uk-grid-margin">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto"><h4>Memory (GB)</h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <a href="#" class="uk-icon-link" uk-icon="refresh" title="Refresh" data-uk-tooltip="" onclick="memLoad(update=0); return false"></a>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas id="chart_MemoryLoad" class="chartjs-render-monitor" style="display: block; width: 800px; height: 300px;"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- SWAP -->
    <div class="">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto"><h4>SWAP (GB)</h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <a href="#" class="uk-icon-link" uk-icon="refresh" title="Refresh" data-uk-tooltip="" onclick="swapLoad(update=0); return false"></a>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas id="chart_SwapLoad" class="chartjs-render-monitor" style="display: block; width: 800px; height: 300px;"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- .grid memory stat -->

  <!-- DISKS -->
  <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
    {% for disk in disks %}
      <!-- DISK USAGE GRAPH -->
      <div class="uk-grid-match uk-width-1-2@l uk-first-column">
        <div class="uk-card uk-card-default uk-card-small uk-card-hover">
          <div class="uk-card-header" style="height: 55px;">
            <div class="uk-grid uk-grid-small">
              <div class="uk-width-auto"><h4>Disk Usage on <span id="disk_name_{{ disk }}_graph"></span> [<span id="disk_mountpoint_{{ disk }}_graph"></span>] (GB)</h4></div>
              <div class="uk-width-expand uk-text-right panel-icons">
                <a href="#" class="uk-icon-link" uk-icon="cog" title="Settings" data-uk-tooltip=""></a>
                <div class="uk-navbar-dropdown uk-text-left" uk-dropdown="mode: click; pos: bottom-justify">
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header">History age</li>
                    <li><a id="settings" data-id="disk_usage_hour_{{ disk }}" data-age="hour" data-name="disk_usage_age_{{ disk }}" href="#">Last hour</a></li>
                    <li><a id="settings" data-id="disk_usage_day_{{ disk }}" data-age="day" data-name="disk_usage_age_{{ disk }}" href="#">Last 24 hours</a></li>
                    <li><a id="settings" data-id="disk_usage_week_{{ disk }}" data-age="week" data-name="disk_usage_age_{{ disk }}" href="#">Last week</a></li>
                    <li class="uk-nav-header">Update timeout</li>
                    <li><a id="settings" data-id="disk_usage_60000_{{ disk }}" data-timeout="60000" data-name="disk_usage_timeout_{{ disk }}" href="#">1 min</a></li>
                    <li><a id="settings" data-id="disk_usage_300000_{{ disk }}" data-timeout="300000" data-name="disk_usage_timeout_{{ disk }}" href="#">5 min</a></li>
                    <li><a id="settings" data-id="disk_usage_1800000_{{ disk }}" data-timeout="1800000" data-name="disk_usage_timeout__{{ disk }}" href="#">30 min</a></li>
                  </ul>
                </div>
                <a href="#" class="uk-icon-link" uk-icon="refresh" title="Refresh" data-uk-tooltip="" onclick="update_disks_chart(device='{{ disk }}', data_type='graph', graph_type='line'); return false;"></a>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              <canvas id="chart_DiskUsage_graph_{{ disk }}" class="chartjs-render-monitor" style="display: block; width: 800px; height: 300px;"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- DISK USAGE PERCENT -->
      <div class="uk-width-1-2@s uk-width-1-4@l uk-width-1-4@xl uk-grid-margin">
        <div class="uk-card uk-card-default uk-card-small uk-card-hover">
          <div class="uk-card-header">
            <div class="uk-grid uk-grid-small">
              <div class="uk-width-auto"><h4>Disk Usage on <span id="disk_name_{{ disk }}_percent"></span> [<span id="disk_mountpoint_{{ disk }}_percent"></span>] (%)</h4></div>
              <div class="uk-width-expand uk-text-right panel-icons">
                <a href="#" class="uk-icon-link" uk-icon="refresh" title="Refresh" data-uk-tooltip="" onclick="update_disks_chart(device='{{ disk }}', data_type='percent'); return false;"></a>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              <canvas id="chart_DiskUsage_percent_{{ disk }}" class="chartjs-render-monitor" style="display: block; width: 800px; height: 300px;"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- DISK USAGE VOLUME -->
      <div class="">
        <div class="uk-card uk-card-default uk-card-small uk-card-hover">
          <div class="uk-card-header">
            <div class="uk-grid uk-grid-small">
              <div class="uk-width-auto"><h4>Disk Usage on <span id="disk_name_{{ disk }}_volume"></span> [<span id="disk_mountpoint_{{ disk }}_volume"></span>] (GB)</h4></div>
              <div class="uk-width-expand uk-text-right panel-icons">
                <a href="#" class="uk-icon-link" uk-icon="refresh" title="Refresh" data-uk-tooltip="" onclick="update_disks_chart(device='{{ disk }}', data_type='volume'); return false;"></a>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              <canvas id="chart_DiskUsage_volume_{{ disk }}" class="chartjs-render-monitor" style="display: block; width: 800px; height: 300px;"></canvas>
            </div>
          </div>
        </div>
      </div>
    {% end %}
  </div> <!-- grid disks stat -->

</div> <!-- .grid graph -->
<!-- /GRAPH -->
{% end %}

{% block js %}
  <script src="{{ static_url("js/easymon-dashboard.js") }}" type="text/javascript"></script>
  {% for disk in disks %}
    <script type="text/javascript">
      // Set default cookie and add icon on choose settings disk usage
      if ($.cookie('disk_usage_timeout_{{ disk }}') == null){
        $.cookie('disk_usage_timeout_{{ disk }}', 60000)
        $(`a#settings[data-id='disk_usage_${$.cookie('disk_usage_timeout_{{ disk }}')}_{{ disk }}']`).append('<span id="disk_usage_timeout_{{ disk }}" class="uk-margin-small-right" uk-icon="check"></span>')
      } else {
        var value = $.cookie('disk_usage_timeout_{{ disk }}')
        $(`a#settings[data-id='disk_usage_${value}_{{ disk }}']`).append('<span id="disk_usage_timeout_{{ disk }}" class="uk-margin-small-right" uk-icon="check"></span>')
      };

      if ($.cookie('disk_usage_age_{{ disk }}') == null){
        $.cookie('disk_usage_age_{{ disk }}', "day")
        $(`a#settings[data-id='disk_usage_${$.cookie('disk_usage_age_{{ disk }}')}_{{ disk }}']`).append('<span id="disk_usage_age_{{ disk }}" class="uk-margin-small-right" uk-icon="check"></span>')
      } else {
        var value = $.cookie('disk_usage_age_{{ disk }}')
        $(`a#settings[data-id='disk_usage_${value}_{{ disk }}']`).append('<span id="disk_usage_age_{{ disk }}" class="uk-margin-small-right" uk-icon="check"></span>')
      };

      // Auto update disk usage graph
      window.setInterval(function(){
        update_disks_chart(device='{{ disk }}', data_type='graph', graph_type='line');
      }, $.cookie('disk_usage_timeout_{{ disk }}'));
    </script>
  {% end %}
{% end %}
