{% extends "base.html" %}

{% block head %}<meta http-equiv="refresh" content="30"/>{% end %}
{% block title %}Events | {% end %}

{% block content %}
<table class="uk-table uk-table-divider uk-table-responsive">
    <caption></caption>
    <thead>
        <tr>
            <th>Time</th>
            <th>Hostname</th>
            <th>Event</th>
            <th>Telegram</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event[0] }}</td>
                <td>{{ event[1] }}</td>
                <td>{{ event[2] }}</td>
                {% if event[3] == 1 %}
                    <td><span class="uk-label uk-label-success" title="Отправленно" data-uk-tooltip=""><span uk-icon="icon: check"></span></span></td>
                {% elif event[3] == 0 %}
                    <td><span class="uk-label uk-label-danger" title="Не отправлено<br>{{ event[4] }}" data-uk-tooltip=""><span uk-icon="icon: close"></span></span></td>
                {% elif event[3] == -1 %}
                    <td><span class="uk-label uk-label" title="В процессе отправки" data-uk-tooltip=""><span uk-icon="icon: future"></span></span></td>
                {% end %}

                {% if event[5] == 1 %}
                    <td><span class="uk-label uk-label-success" title="Отправленно" data-uk-tooltip=""><span uk-icon="icon: check"></span></span></td>
                {% elif event[5] == 0 %}
                    <td><span class="uk-label uk-label-danger" title="Не отправлено<br>{{ event[6] }}" data-uk-tooltip=""><span uk-icon="icon: close"></span></span></td>
                {% elif event[5] == -1 %}
                    <td><span class="uk-label uk-label" title="В процессе отправки" data-uk-tooltip=""><span uk-icon="icon: future"></span></span></td>
                {% end %}
            </tr>
        {% end %}
    </tbody>
</table>
{% end %}