{% extends "base.html" %}

{% block title %}Network | {% end %}

{% block content %}
<div class="uk-child-width-1-2@s uk-grid-match" uk-grid="masonry: true">
    <div>
        <div class="uk-card uk-card-hover uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">Interfaces</h3>
            </div>
            <div class="uk-card-body">
                {% for interface in interfaces %}
                    <h4><p>{{ interface }} {% if interfaces[interface]['up'] == 'yes' %}<span class="uk-label uk-label-success" uk-icon="check"></span>{%else%}<span class="uk-label uk-label-danger" uk-icon="close"></span>{%end%}</p></h4>
                    <p><span uk-icon="info"></span> speed={{ interfaces[interface]['speed'] }} duplex={{ interfaces[interface]['duplex'] }} mtu={{ interfaces[interface]['mtu'] }}</p>
                    <p>
                    <p><span uk-icon="download"></span><i> bytes={{ interfaces[interface]['incoming']['bytes'] }} pkts={{ interfaces[interface]['incoming']['pkts'] }} erros={{ interfaces[interface]['incoming']['errs'] }} drops={{ interfaces[interface]['incoming']['drops'] }}</i></p>
                    <p><span uk-icon="upload"></span><i> bytes={{ interfaces[interface]['outgoing']['bytes'] }}, pkts={{ interfaces[interface]['outgoing']['pkts'] }}, errs={{ interfaces[interface]['outgoing']['errs'] }}, drops={{ interfaces[interface]['outgoing']['drops'] }}</i></p>
                        {% for key, addr in interfaces[interface]['addrs'].items() %}
                            <p>{{ interfaces[interface]['addrs'][key]['family'] }}:<br>
                                {% try %}
                                    {% if interfaces[interface]['addrs'][key]['address'] %}
                                        &emsp;address: {{ interfaces[interface]['addrs'][key]['address'] }}<br>
                                    {% end %}
                                {% except %}
                                {% end %}
                                {% try %}
                                    {% if interfaces[interface]['addrs'][key]['broadcast'] %}
                                        &emsp;broadcast: {{ interfaces[interface]['addrs'][key]['broadcast'] }}<br>
                                    {% end %}
                                {% except %}
                                {% end %}
                                {% try %}
                                    {% if interfaces[interface]['addrs'][key]['netmask'] %}
                                        &emsp;netmask: {{ interfaces[interface]['addrs'][key]['netmask'] }}
                                    {% end %}
                                {% except %}
                                {% end %}
                            </p>
                        {% end %}
                    </p>
                    <hr>
                {% end %}
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-hover uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">Listen ports</h3>
            </div>
            <div class="uk-card-body">
                <table class="uk-table uk-table-divider">
                    <thead>
                        <tr>
                            <th>Protocol</th>
                            <th>IP</th>
                            <th>Port</th>
                            <th>PID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in listen %}
                            <tr>
                                <td>{{ item[0] }}</td>
                                <td>{{ item[1] }}</td>
                                <td>{{ item[2] }}</td>
                                <td>{{ item[3] }}</td>
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% end %}