{% extends "base.html" %}

{% block title %}Services | {% end %}

{% block content %}
<table class="uk-table uk-table-divider uk-table-responsive">
  <thead>
      <tr>
          <th>Имя службы</th>
          <th>Статус</th>
          <th>Перезагрузка</th>
      </tr>
  </thead>
  <tbody>
    {% for service in services %}
      <tr>
          <td>{{ service[0] }}</td>

          {% if service[1] == 1 %}
            <td><span class="uk-label uk-label-success" uk-icon="icon: check"></span></td>
          {% elif service[1] == 0 %}
            <td><span class="uk-label uk-label-danger" uk-icon="icon: close"></span></td>
          {% end %}

          {% if service[2] == 1 %}
            <td><span class="uk-label uk-label-success" uk-icon="icon: check"></span></td>
          {% elif service[2] == 0 %}
            <td><span class="uk-label uk-label-danger" uk-icon="icon: close"></span></td>
          {% end %}
      </tr>
    {% end %}
  </tbody>
</table>
{% end %}