{% extends "base.html" %}

{% block title %}Settings | {% end %}

{% block content %}
<div class="uk-grid-divider" uk-grid>
  <div class="uk-width-1-4 uk-text-left">
      <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-switcher="connect: #component-nav; toggle: > :not(.uk-nav-header)">
        <li class="uk-nav-header">Пользователи</li>
        <li><a href="#">Мой профиль</a></li>
        {% if var['level'] == 0 %}
          <li><a href="#">Добавить пользователя</a></li>
          <li><a href="#">Список пользователей</a></li>
        {% end %}

        {% if var['level'] == 0 %}
          <li class="uk-nav-header">Серверы оповещений</li>
          <li><a href="#">SMTP</a></li>
          <li><a href="#">Telegram</a></li>
        {% end %}

        {% if var['level'] == 0 or var['level'] == 1 %}
          <li class="uk-nav-header">Мониторинг</li>
          <li><a href="#">Добавить службу</a>
          <li><a href="#">Службы</a>
        {% end %}
      </ul>
  </div>
  <div class="uk-width-expand uk-text-left">
    <ul id="component-nav" class="uk-switcher">

      <!-- ПОЛЬЗОВАТЕЛИ -->

      <li> <!-- Мой профиль -->
        <!-- Настройки оповещений пользователя -->
        <form action="/settings?profile_alert" method="post" class="uk-form-horizontal uk-card uk-card-body uk-card-hover">
          {% module xsrf_form_html() %}
          <legend class="uk-legend">Оповещения</legend>
          <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            {% if var['alert_email'] == 1 %}
              <label><input class="uk-checkbox" name="alert_email" type="checkbox" value="1" checked> E-mail</label>
            {% else %}
              <label><input class="uk-checkbox" name="alert_email" type="checkbox" value="1"> E-mail</label>
            {% end %}

            {% if var['alert_tg'] == 1 %}
              <label><input class="uk-checkbox" name="alert_tg" type="checkbox" value="1" checked> Telegram</label>
            {% else %}
              <label><input class="uk-checkbox" name="alert_tg" type="checkbox" value="1"> Telegram</label>
            {% end %}
          </div>
          <div class="uk-margin">
            <label class="uk-form-label">E-mail</label>
            <div class="uk-form-controls">
              <input class="uk-input" name="email" type="email" placeholder="E-mail" value="{{ var['email'] }}">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label">Telegram ID</label>
            <div class="uk-form-controls">
              <input class="uk-input" name="telegram_id" type="text" placeholder="Telegram ID" value="{{ var['telegram_id'] }}">
            </div>
          </div>
          <div class="uk-margin uk-text-right">
              <button class="uk-button uk-button-primary" type="submit">Ok</button>
          </div>
        </form>

        <!-- Смена пароля -->
        <form action="/settings?change_password" method="post" class="uk-form-horizontal uk-card uk-card-body uk-card-hover">
          {% module xsrf_form_html() %}
          <legend class="uk-legend">Сменить пароль</legend>

          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <label class="uk-form-label">Новый пароль (минимум 7 символов)</label>
              <div class="uk-form-controls">
                <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: more" onclick="showPassword('new_pwd1'); return false"></a>
                <input class="uk-input" id="new_pwd1" name="password1" type="password" placeholder="New password" required>
              </div>
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <label class="uk-form-label">Новый пароль (ещё раз)</label>
              <div class="uk-form-controls">
                <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: more" onclick="showPassword('new_pwd2'); return false"></a>
                <input class="uk-input" id="new_pwd2" name="password2" type="password" placeholder="New password repeat" required>
              </div>
            </div>
          </div>
          <div class="uk-margin uk-text-right">
              <button class="uk-button uk-button-primary" type="submit">Ok</button>
          </div>
        </form>
      </li>

      {% if var['level'] == 0 %}
        <li> <!-- Добавить пользователя -->
          <form action="/settings?add_user" method="post" class="uk-form-horizontal uk-card uk-card-body uk-card-hover">
            {% module xsrf_form_html() %}
            <legend class="uk-legend">Добавить пользователя</legend>

            <div class="uk-margin">
              <label class="uk-form-label">Уровень доступа</label>
              <div class="uk-form-controls">
                <select class="uk-select" name="level">
                  <option value="2">Пользователь</option>
                  <option value="1">Админ</option>
                  <option value="0">Суперадмин</option>
                </select>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <label class="uk-form-label">Имя пользователя</label>
                <div class="uk-form-controls">
                  <a class="uk-form-icon uk-form-icon-flip" href="#"></a>
                  <input class="uk-input" name="username" type="text" placeholder="Username" required>
                </div>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <label class="uk-form-label">Пароль (минимум 7 символов)</label>
                <div class="uk-form-controls">
                  <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: more" onclick="showPassword('user_pwd1'); return false"></a>
                  <input class="uk-input" id="user_pwd1" name="password1" type="password" placeholder="Password" required>
                </div>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <label class="uk-form-label">Подтверждение пароля</label>
                <div class="uk-form-controls">
                  <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: more" onclick="showPassword('user_pwd2'); return false"></a>
                  <input class="uk-input" id="user_pwd2" name="password2" type="password" placeholder="Password" required>
                </div>
              </div>
            </div>
            <div class="uk-margin uk-text-right">
                <button class="uk-button uk-button-primary" type="submit">Ok</button>
            </div>
          </form>
        </li>
      {% end %}

      {% if var['level'] == 0 %}
        <li> <!-- Список пользователей -->
          <ul uk-accordion="multiple: true">
            {% for user in var['users']%}
                <li class="uk-card uk-card-body uk-card-hover">
                    <a class="uk-accordion-title" href="#">
                      {{ user[0] }} [{% if user[1] == 0 %}Суперадмин{% elif user[1] == 1 %}Админ{% elif user[1] == 2 %}Пользователь{% end %}]
                    </a>
                    <div class="uk-accordion-content">

                      <form action="/settings?change_user_level" method="post" class="uk-form-horizontal">
                        {% module xsrf_form_html() %}
                        <input type="hidden" name="username" value="{{ user[0] }}">
                        <div class="uk-margin">
                          <label class="uk-form-label">Уровень доступа</label>
                          <div class="uk-form-controls">
                            <select class="uk-select" name="level">
                              <option value="2" {% if user[1] == 2 %}selected{% end %}>Пользователь</option>
                              <option value="1" {% if user[1] == 1 %}selected{% end %}>Админ</option>
                              <option value="0" {% if user[1] == 0 %}selected{% end %}>Суперадмин</option>
                            </select>
                          </div>
                        </div>
                        <div class="uk-margin uk-text-right">
                            <button class="uk-button uk-button-primary" type="submit">Ok</button>
                        </div>
                      </form>

                      <form action="/settings?change_user_pass" method="post" class="uk-form-horizontal">
                        {% module xsrf_form_html() %}
                        <input type="hidden" name="username" value="{{ user[0] }}">
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <label class="uk-form-label">Пароль (минимум 7 символов)</label>
                            <div class="uk-form-controls">
                              <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: more" onclick="showPassword('user_{{ user[0] }}_pwd1'); return false"></a>
                              <input class="uk-input" id="user_{{ user[0] }}_pwd1" name="password1" type="password" placeholder="Password" required>
                            </div>
                          </div>
                        </div>
                        <div class="uk-margin">
                          <div class="uk-inline uk-width-1-1">
                            <label class="uk-form-label">Подтверждение пароля</label>
                            <div class="uk-form-controls">
                              <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: more" onclick="showPassword('user_{{ user[0] }}_pwd2'); return false"></a>
                              <input class="uk-input" id="user_{{ user[0] }}_pwd2" name="password2" type="password" placeholder="Password" required>
                            </div>
                          </div>
                        </div>
                        <div class="uk-margin uk-text-right">
                            <button class="uk-button uk-button-primary" type="submit">Ok</button>
                        </div>
                      </form>
                    </div>
                </li>
            {% end %}
          </ul>
        </li>
      {% end %}

      {% if var['level'] == 0 %}
        <!-- Серверы оповещений -->
        <li> <!-- E-mail -->
          <form action="/settings?settings_smtp" method="post" class="uk-form-horizontal uk-card uk-card-body uk-card-hover">
            {% module xsrf_form_html() %}
            <legend class="uk-legend">Настройка сервера smtp</legend>

            <div class="uk-margin">
              {% if var['smtp_status'] == 0 %}
                <label><input class="uk-checkbox" name="smtp_status" type="checkbox" value="1"> Использовать</label>
              {% else %}
                <label><input class="uk-checkbox" name="smtp_status" type="checkbox" value="1" checked> Использовать</label>
              {% end %}
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Сервер</label>
              <div class="uk-form-controls">
                <input class="uk-input" name="smtp_server" type="text" placeholder="Server" value="{{ var['smtp_server'] }}" required>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Порт</label>
              <div class="uk-form-controls">
                <input class="uk-input" name="smtp_port" type="text" placeholder="Port" value="{{ var['smtp_port'] }}" required>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Логин</label>
              <div class="uk-form-controls">
                <input class="uk-input" name="smtp_login" type="text" placeholder="Login" value="{{ var['smtp_login'] }}" required>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <label class="uk-form-label">Пароль</label>
                <div class="uk-form-controls">
                  <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: more" onclick="showPassword('smtp_pass'); return false"></a>
                  <input class="uk-input" id="smtp_pass" name="smtp_password" type="password" placeholder="Password" value="{{ var['smtp_password'] }}" required>
                </div>
              </div>
            </div>
            <div class="uk-margin uk-text-right">
                <button class="uk-button uk-button-primary" type="submit">Ok</button>
            </div>
          </form>
        </li>

        <li> <!-- Telegram -->
          <form action="/settings?settings_telegram" method="post" class="uk-form-horizontal uk-card uk-card-body uk-card-hover">
            {% module xsrf_form_html() %}
            <legend class="uk-legend">Настройка бота телеграм</legend>

            <div class="uk-margin">
              {% if var['tg_status'] == 0 %}
                <label><input class="uk-checkbox" name="tg_status" type="checkbox" value="1"> Использовать</label>
              {% else %}
                <label><input class="uk-checkbox" name="tg_status" type="checkbox" value="1" checked> Использовать</label>
              {% end %}
            </div>

            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <label class="uk-form-label">Токен</label>
                <div class="uk-form-controls">
                  <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: more" onclick="showPassword('token_pass'); return false"></a>
                  <input class="uk-input" id="token_pass" name="tg_token" type="password" placeholder="Token" value="{{ var['tg_token'] }}" required>
                </div>
              </div>
            </div>

            <div class="uk-margin">
              {% if var['tg_proxy_status'] == 0 %}
                <label><input class="uk-checkbox" name="tg_proxy_status" type="checkbox" value="1"> Прокси</label>
              {% else %}
                <label><input class="uk-checkbox" name="tg_proxy_status" type="checkbox" value="1" checked> Прокси</label>
              {% end %}
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Протокол</label>
              <div class="uk-form-controls">
                <select class="uk-select" name="tg_proxy_proto">
                  <option value="socks5h" {% if var['tg_proxy_proto'] == 'socks5h' %}selected{% end %}>SOCKS5</option>
                  <option value="http" {% if var['tg_proxy_proto'] == 'http' %}selected{% end %}>HTTP</option>
                </select>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Сервер</label>
              <div class="uk-form-controls">
                <input class="uk-input" name="tg_proxy_server" type="text" placeholder="Server" value="{{ var['tg_proxy_server'] }}">
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Порт</label>
              <div class="uk-form-controls">
                <input class="uk-input" name="tg_proxy_port" type="text" placeholder="Port" value="{{ var['tg_proxy_port'] }}">
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Логин</label>
              <div class="uk-form-controls">
                <input class="uk-input" name="tg_proxy_login" type="text" placeholder="Login" value="{{ var['tg_proxy_login'] }}">
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <label class="uk-form-label">Пароль</label>
                <div class="uk-form-controls">
                  <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: more" onclick="showPassword('tg_pass'); return false"></a>
                  <input class="uk-input" id="tg_pass" name="tg_proxy_password" type="password" placeholder="Password" value="{{ var['tg_proxy_password'] }}">
                </div>
              </div>
            </div>
            <div class="uk-margin uk-text-right">
                <button class="uk-button uk-button-primary" type="submit">Ok</button>
            </div>
          </form>
        </li>
      {% end %}

      {% if var['level'] == 0 or var['level'] ==1 %}
        <li>
          <form action="/settings?add_service" method="post" class="uk-form-horizontal uk-card uk-card-body uk-card-hover">
            {% module xsrf_form_html() %}
            <legend class="uk-legend">Добавить службу</legend>

            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <label class="uk-form-label">Имя службы</label>
                <div class="uk-form-controls">
                  <a class="uk-form-icon uk-form-icon-flip" href="#"></a>
                  <input class="uk-input" name="service_name" type="text" placeholder="Service name" required>
                </div>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Перезагрузка</label>
              <div class="uk-form-controls">
                <select class="uk-select" name="reboot">
                  <option value="1">Включено</option>
                  <option value="0">Выключено</option>
                </select>
              </div>
            </div>
            <div class="uk-margin uk-text-right">
                <button class="uk-button uk-button-primary" type="submit">Ok</button>
            </div>
          </form>
        </li>

        <li class="uk-card uk-card-body uk-card-hover"> <!-- Службы -->
          <table class="uk-table">
            <thead>
                <tr>
                    <th>Имя службы</th>
                    <th>Статус</th>
                    <th>Перезагрузка</th>
                    <th>Настройки</th>
                </tr>
            </thead>
            <tbody>
              {% for service in var['services'] %}
                <tr>
                    <td>{{ service[0] }}</td>

                    {% if service[1] == 1 %}
                      <td><span class="uk-label uk-label-success" uk-icon="icon: check"></span></td>
                    {% elif service[1] == 0 %}
                      <td><span class="uk-label uk-label-danger" uk-icon="icon: close"></span></td>
                    {% end %}

                    {% if service[2] == 1 %}
                      <td><span class="uk-label uk-label-success" uk-icon="icon: check"></span></td>
                    {% elif service[2] == 0 %}
                      <td><span class="uk-label uk-label-danger" uk-icon="icon: close"></span></td>
                    {% end %}

                    <td>
                      <button class="uk-icon-link" uk-icon="settings"></button>
                      <div uk-dropdown="mode: click; pos: bottom-center">
                        <ul class="uk-nav uk-dropdown-nav">
                          {% if service[2] == 1 %}
                            <li><a id="reboot-service" data-name="{{ service[0] }}" data-reboot="0" href="#">Выключить перзагрузку</a></li>
                          {% elif service[2] == 0 %}
                            <li><a id="reboot-service" data-name="{{ service[0] }}" data-reboot="1" href="#">Включить перзагрузку</a></li>
                          {% end %}
                            <li><a href="" id="delete-service" data-name="{{ service[0] }}">Удалить</a></li>
                        </ul>
                      </div>
                    </td>
                </tr>
              {% end %}
            </tbody>
          </table>
        </li>
      {% end %}
    </ul>
  </div>
</div>

{% end %}

{% block js %}
{# Вывод оповещений #}
{% if var['alert_msg'] != None %}
  <script type="text/javascript">
    UIkit.notification("{{ var['alert_msg'] }}", "{{ var['alert_msg_status'] }}");
  </script>
{% end %}

<script type="text/javascript">
  // Disable enter submit form
  $(document).keypress(
  function(event){
    if (event.which == '13') {
      event.preventDefault();
    }
  });

  function showPassword(id) {
    var x = document.getElementById(id);
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
  }
</script>

{% if var['level'] == 0 or var['level'] == 1 %}
  <script type="text/javascript">
    // Модаль подтверждения удаления службы
    UIkit.util.on('#delete-service', 'click', function (e) {
      var name = $(this).attr("data-name");
      e.preventDefault();
      e.target.blur();
      UIkit.modal.confirm('Удалить службу?').then(function () {
        $.ajax({
          type: "POST",
          url: "/settings?delete_service",
          headers: {'X-CSRFToken': $.cookie('_xsrf')},
          data: {"name": name},
          dataType: "json",
          cache: false,
          success: function(data) {
            location.reload();
            // UIkit.notification('Служба удалена', "success");
          },
          error: function(data) {
            location.reload();
            // UIkit.notification('Служба удалена', "success");
          },
        })
      }, function () {
      });
    });

    // Модаль действия при падении службы (reboot toogle)
    $('a#reboot-service').click(function() {
      var name = $(this).attr("data-name");
      var reboot = $(this).attr("data-reboot");

      $.ajax({
        type: "POST",
        url: "/settings?change_service",
        headers: {'X-CSRFToken': $.cookie('_xsrf')},
        data: {"name": name, "reboot": reboot},
        dataType: "json",
        cache: false,
        success: function(data) {
          location.reload();
          // UIkit.notification('Служба изменена', "success");
        },
        error: function(data) {
          location.reload();
          // UIkit.notification('Служба изменена', "success");
        },
      })
    });
  </script>
{% end %}

{% end %}