{% extends "base.html" %}

{% block title %}TOP | {% end %}

{% block content %}
<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-hover uk-card-body uk-card-default">
            <h3 class="uk-card-title">Top 10 cpu usage</h3>
            <table class="uk-table uk-table-small uk-table-divider">
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Name</th>
                        <th>Usage (%)</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proc in top['cpu'] %}
                        <tr>
                            <td>{{ proc[0] }}</td>
                            {% if proc[4] %}
                                <td><span title="{{ proc[4] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% else %}
                                <td><span title="{{ proc[1] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% end %}
                            <td>{{ proc[2] }}</td>
                            <td>{{ proc[3] }}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-hover uk-card-body uk-card-default">
            <h3 class="uk-card-title">Top 10 memory usage</h3>
            <table class="uk-table uk-table-small uk-table-divider">
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Name</th>
                        <th>Usage (%)</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proc in top['mem'] %}
                        <tr>
                            <td>{{ proc[0] }}</td>
                            {% if proc[4] %}
                                <td><span title="{{ proc[4] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% else %}
                                <td><span title="{{ proc[1] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% end %}
                            <td>{{ proc[2] }}</td>
                            <td>{{ proc[3] }}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="uk-child-width-1-1@s uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-hover uk-card-body uk-card-default">
            <h3 class="uk-card-title">Zombie process</h3>
            <table class="uk-table uk-table-small uk-table-divider">
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>PPID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proc in top['zombie'] %}
                        <tr>
                            <td>{{ proc[0] }}</td>
                            {% if proc[4] %}
                                <td><span title="{{ proc[4] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% else %}
                                <td><span title="{{ proc[1] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% end %}
                            <td>{{ proc[2] }}</td>
                            <td>{{ proc[3] }}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-hover uk-card-body uk-card-default">
            <h3 class="uk-card-title">Top 10 disk usage</h3>
            <table class="uk-table uk-table-small uk-table-divider">
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Name</th>
                        <th>Read count</th>
                        <th>Write count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proc in top['io'] %}
                        <tr>
                            <td>{{ proc[0] }}</td>
                            {% if proc[4] %}
                                <td><span title="{{ proc[4] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% else %}
                                <td><span title="{{ proc[1] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% end %}
                            <td>{{ proc[2] }}</td>
                            <td>{{ proc[3] }}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-hover uk-card-body uk-card-default">
            <h3 class="uk-card-title">Top 10 inode usage</h3>
            <table class="uk-table uk-table-small uk-table-divider">
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Name</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proc in top['fds'] %}
                        <tr>
                            <td>{{ proc[0] }}</td>
                            {% if proc[3] %}
                                <td><span title="{{ proc[3] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% else %}
                                <td><span title="{{ proc[1] }}" data-uk-tooltip="">{{ proc[1] }}</span></td>
                            {% end %}
                            <td>{{ proc[2] }}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% end %}